* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* layout */
.container {
  width: 80%;
  margin: 20px auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

[class*="column"] {
  border: 5px solid #0086ff;
}
/* /layout */

/* header */
.head-of-page {
  height: 110px;
  background-color: #e579e6;
}
/* /header */

/* main */
.yellow-box {
  background-color: #e1d67a;
  height: 550px;
  margin-top: 25px;
}
/* float section of main */
.float-section {
  background-color: #abcfe7;
  margin-top: 25px;
}
.float-sec-header {
  height: 25px;
  background-color: #abcfe7;
}

.column-left,
.column-right {
  float: left;
  height: 25px;
  width: 25%;
}

.column-middle {
  float: left;
  height: 25px;
  width: calc(50% - 10px);
}

/* /main */

/* footer */
.end-of-page {
  background-color: #8801fe;
  height: 55px;
  margin-top: 10px;
}
/* /footer */

