* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* layout */
.container {
  width: 80%;
  margin: 20px auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/* /layout */

/* header */
.head-of-page {
  height: 110px;
  background-color: #e579e6;
}
/* /header */

/* main */
.yellow-box {
  background-color: #e1d67a;
  height: 550px;
  margin-top: 25px;
}
/* float section of main */



/* /main */

/* footer */
.end-of-page {
  background-color: #8801fe;
  height: 55px;
  margin-top: 10px;
}
/* /footer */

