* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* layout */
.container {
  width: 80%;
  margin: 20px auto;
}
/* /layout */

/* header */
.head-of-page {
  height: 110px;
  background-color: #e579e6;
}
/* /header */